<br>
<div class="note-create-page">
    <h3>{{ note.name }}</h3>
    <p><textarea [(ngModel)]="note.raw" rows="25" cols="70">
      {{ note.raw }}
    </textarea></p>
    <p><button (click)="updateNote()">Сохранить заметку</button></p>
</div>
<p>Тэги:</p>
    <ul *ngFor="let tag of CurrentNoteTags">
      <li>{{ tag.title }}</li>
    </ul>
      Выберете тэг:
      <select>
        <option disabled>Тэг не выбран</option>
        <option *ngFor="let item of SelectTags">{{ item.title }}</option>
      </select>
      Или создайте новый:
      <input type="text" [(ngModel)]="newTag">
      <p><button (click)="addNewTag()">Добавить тэг</button></p>
    <br>
    
  
